*{
  padding: 0;   
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-color: rgb(53, 51, 51);
  font-family: monospace;
}
header{
  color: aliceblue;
  display: flex;
  max-width: 100%;
  font-style: oblique;
  
}
.header-name{

  width: 30%;
  margin: 90px 30px;
}
.header-info{
  margin: 30px;
  width: 70%;
  
}

.header-information{
  
  list-style: none;
  float: right;
}
.img{
  border-radius: 50%;
}
.Resume{
  text-align: center;
}
.res{
  color: white;
}

.nav-mobile{
  display: none;
}
.nav{
  background-color: #0082e6;
  height: 80px;
  width: 100%;
}
.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  
  margin-left: 20px;
  font-weight: bold;
}
.ul{
  float: right;
  margin-right: 20px;
}
.li{
  display: inline-block;
  line-height: 20px;
  margin: 19px 5px;
}
.a{

  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.active,.a:hover{
background: #1b9;
}







.dropbtn {
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.aa {
  background-color: #0082e6;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.aa:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.con{
  display: flex;
  
}
.cal{
  width: 33%;
  justify-content: space-around;
}
.information{
  margin: 20px 20px;
  max-width: 100%;
  height: 70%;
  text-align: center;
  color: white;
  background-color: rgb(70, 69, 69);
  border: 7px outset aquamarine;
  padding: 10px 30px;
}
.heading{
  margin: 20px 20px;
  text-align: center;
  color: white;
  font-size: 29px;
}
.tec-text{
  font-size: 16px;
}
.pro-text{
  font-size: 16px;
  margin-top: 7px;
}
footer{
  background-color: #0082e6;
  padding: 30px 30px;
}
.foo{
  text-align: center;
  color: white;
}

.foo-img{
  height: 27px;
  width: 27px;
  border-radius: 60%;
  margin-left: 5px;
}



/* Responsive */

 
@media screen and (max-width: 1100px) {
   .ul{
  display: none;
}
.header-info{
  display: none;
}
.header-name{
  margin: 40px 30px;
}
.nav-mobile{
  display: block;
}
.img{
  border-radius: 50%;
  height: 140px;
  margin-left: 25px;
}

.con{
  flex-direction: column;
  
}
.cal{
  width: 100%;
  justify-content: space-around;
}
}